.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px var(--horizontal-space);
  margin-bottom: 15px;
  position: fixed;
  width: 100%;
  box-sizing: border-box;
}

.screen-header__title {
  font-size: 36px;
  font-weight: 600;
}

.screen-header__icons span {
  margin-left: 20px;
}

.screen-header__icons {
  position: relative;
}

.screen-header__icons-sec {
  position: absolute;
  left: 90px;
  bottom: 15px;
}

.screen-header__icons-thi {
  position: absolute;
  left: 135px;
  bottom: 15px;
}
